前端/*
flight_sys_server/*
dm/*
emqx/logs/*
emqx/emqx_latest.tar
vsftpd/*
mysql/*
nginx/logs/*
nginx/nginx_latest.tar
qicloud/logs/*
redis/*
socketio/*
minio/*
!dm/create_dm_container.sh
!minio/create_minio_container.sh
!minio/config/
!vsftpd/create_vsftpd_container.sh
!vsftpd/config/
!mysql/create_mysql_container.sh
!mysql/conf/
!mysql/init/
!mysql/sql/
!redis/create_redis_container.sh
!redis/config/
!socketio/create_socketio_container.sh